{
    "username": "",
    "password": "",
    "server": "",
    "webhookurl": "https://ptb.discordapp.com/api/webhooks/..../slack",
    "webhookChannel": "#channel",
    "webhookUsername": "botnamebruh"
}