{
    "jid": "user@server",
    "password": "",
    "host": "server",
    "port": 5222,
    "webhookurl": "https://ptb.discordapp.com/api/webhooks/..../slack",
    "webhookChannel": "#channel",
    "webhookUsername": "Bot Name on Discord/Slack",
    "specialWebhooks": {
        "titan": {
            "webhookChannel": "#channel",
            "webhookUsername": "Bot Name on Discord/Slack"
        }
    }
}
